body{
    background-color: #ff8800;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

#myimage{
    height: 50vw;
    max-height:80vh;
    
}

.mainchilddiv{
    width: 50%;
    text-align: center;
}

#homediv{
    height: 100vh;
    width: 100%;
    background-color: orange;
    display: flex;
    align-items: center;
    z-index: 1;
}

#desc{
    padding:30px;
    text-align: left;
    color: white;
}

#sliderdiv{
    background-color: aliceblue;
    height: 100vh;
    width: 100%;
    position: fixed;
    top:0;
    right:80vw;
    transition:left 1s ease-in-out;
    z-index: 10;
}

#skillSetList{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.underline {
    
    width: 100%;
    border-bottom: 2px solid white;
}


