body{
    background-color: orange;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

#myimage{
    height: 50vw;
    max-height:80vh;
    
}

.mainchilddiv{
    width: 50%;
    text-align: center;
}

#homediv{
    height: 100vh;

    display: flex;
    align-items: center;
}

#desc{
    padding:30px;
    text-align: left;
    color: white;
}